package-lock.json
yarn.lock

.idea/*
node_modules/*
!node_modules/@ckeditor/
node_modules/@ckeditor/*
!node_modules/@ckeditor/ckeditor5-inspector/
node_modules/@ckeditor/ckeditor5-inspector/*
!node_modules/@ckeditor/ckeditor5-inspector/build/
